#id1{float: left; color: saddlebrown; width: 100px; border: 2px solid red}
#id2{float: left; color: red; width: 100px; border: 2px solid green; padding: 10 15 20 25}
#id3{float: left; color: saddlebrown; width: 100px; border: 2px solid red}
#id4{float: left; color: red; width: 100px; border: 2px solid green; padding: 10 15 20 25}
.class1{float: left; color: saddlebrown; width: 100px; border: 2px solid red}
.clear{clear: both;}