.class1{
	font-size: 20px;
	color:red;
	float:left;
	width: 200px;
	border: 2px solid red;
	padding: 10px 15px 20px 25px;
}
.class2{
	font-size: 30px;
	color: green;
}
#id1{
	font-size: 20px;
	color:red;
	float:left;
	width: 200px;
	border: 2px solid red;
	margin-top: 15px;
	padding: 10px 15px 20px 25px;
}
#id2{
	font-size: 20px;
	color:red;
	float:right;
	width: 200px;
	border: 2px solid green;
	margin: 10px 15px 20px 25px;
}